
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}
body {
    height: 100vh;
    width: 100%;
    background-color: #1A1A1D;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  max-width: 100%;
  margin: 0 auto;
  background-color: black;
}

.logos
{
  height: 70px;
  width: 70px;
  
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 600px;
}


.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  text-decoration-line: underline;
  text-decoration-color:aqua ;
  text-decoration-thickness: 3px;
  padding-top: 5px;   
  margin-top: 20px;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between; 
  width: 1200px;
  height: 100vh;
  
}

.home-content {
  max-width: 90%; 
  text-align: left; 
  margin-top: 50px;
  margin-left: 20%
}

.home-img {
  width: 100%;
  height: 400px; 
  border-radius: 8px;
  margin-left: 70px;
  margin-right: 30px;
  margin-bottom: 150px;
  transition: transform 0.1s ease-in-out; 
}

.home img:hover {
  transform: rotate(360deg); /* Rotates the image 360 degrees */
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home img {
  width: 100%;
  height: auto; 
  border-radius: 8px;
  margin-left: 60px;
  animation: rotateAnimation 5s linear infinite; /* Rotates continuously */
}




h1, h3{
  color: white;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 40px;
}

h1{
  margin-top: 10px;
  font-size: 70px;
  font-family: "Arial", "Helvetica", sans-serif;

}
.social-icons {
  
  display: flex;
  gap: 15px;
  
}
.social-icons a {
  font-size: 3rem;
  color: rgb(0, 242, 255);
  transition: color 0.3s ease-in-out;
  box-shadow: #FFFFFF;
  margin: 30px 15px 30px 0;
  
}
.social-icons a:hover {
  color:#FFFFFF;
 
  
}
.more {
  font-size: 20px;
  background-color: rgb(254, 255, 255);
  font-family: "Arial", "Helvetica", sans-serif;
  margin-top: 30px;
  color: black;
  padding: 10px;
  border-radius: 60px;
  font-weight: bolder;
  text-decoration: none;
  padding-right: 30px;
}

.more1
{
  font-size: 20px;
  background-image: linear-gradient(to right top, #fe00ff, #c74efc, #9562ed, #6c6ad5, #546ab6, #4964ac, #3d5da2);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 30px;
  color: white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}
.class
{
  
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  align-items: center; /* Center content vertically */
  justify-content: space-between; /* Space between text and image */
  width: 1200px;
  height: 100vh;
  margin-bottom: 20px;
  
}

.circle {
    position: relative;
    width: 200px;
    height: 200px;
    background: #ff007f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 0  40px 10px #ff007f;
}

.circle span {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.circle-label {
    position: absolute;
    top: -30px;
    font-size: 20px;
    font-weight: bold;
}
.c1 ,.c3
{
margin-left:220px ;
}

.info-box {
    width: 500px;
    height: 500px;
    padding: 20px;
    background: linear-gradient(to bottom right, #4a00e0, #8e2de2);
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 1em;
    box-shadow: 20px 0  40px 10px rgba(138, 43, 226, 0.8);
    margin-left: 60px;
}

.info-box h2 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 60px;
    font-family: 'Cursive', 'Brush Script MT', cursive;;

}
.info-box p{
  font-size: 30px;
  margin-top: 30px;

}

.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px; 
  margin-left: 200px; 
  margin-right: 200px;
  margin-top: 10px;
  
  
}
.heading12
{
  justify-content: center;
  align-items: center;
  margin-left: 90px;
}
.projects {
  padding: 50px 0;
}

.container3 {
  width: 80%;
  margin: 0 auto;
}

.sub-title {
  font-size: 50px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: wavy rgb(255, 0, 251);
  color: rgb(187, 0, 255);
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
  gap: 70px;
  padding-top: 30px;
  margin-bottom: 5%;
  
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  
}

.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
  height: auto;
}

.layer {
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  transition: height 0.5s;
}

.layer h5 {
  color:rgb(173, 0, 253);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: wavy cornflowerblue;
}

.layer p {
  color: white;
  font-size: 20px;
  line-height: 1.5;
 
}


.layer a {
  margin-top: 20px;
  display: inline-block;
}

.layer i {
  color: brown;
  font-size: 24px;
  background: white;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
}
.b{
  box-shadow: 1px 1px 20px rgb(173, 0, 253);
}


.toppers h1{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.toppers h2
{
  text-align: center;
  
  margin-bottom: 5%;
  color:#cb008b;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card
{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  background:black;
  transition: background 0.5s, transform 0.5s;
  

}
.progress-container
{
  margin-left: 90px;
  margin-top: 2px;
}
.card img
{
  margin-top: 10px;
  width: 200px;
  margin-bottom: 60px;
  border-radius: 50%;
  box-shadow: 0 0 30px 15px #cb008b;
}
.card:hover
{
  transform: translateY(-10px);
}
.card-body
{
  color: white;
}
.bxl-linkedin-square
{
  font-size: 40px;
  color: #bb1676;
}
.card-body .a 
{
  font-size: 2px;
}
.container4
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
figure {
  text-align: center;
}

figcaption {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}
.i1
{
  height: 500px;
  width: 400px;
}
.inovations h1
{
  font-size: 50px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
figcaption
{
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  max-width: 50%;
  text-align: center;
  margin-left: 190px;
  margin-top: 10px;

  
}
.no1
{
  width: 50%;
  margin-left: 20px;
  margin-bottom: 70px;
  background-image: linear-gradient(to right top, #170074, #300484, #460a93, #5b11a3, #7018b2, #7818bd, #7f18c9, #8718d4, #8111de, #7909e9, #6e03f4, #5f00ff);
  box-shadow: #f9f8f8;
}
.no1:hover
{
  transform: translateY(-10px);
}
.no2
{
  margin-left: 50%;
  margin-bottom: 100px;
  background-image: linear-gradient(to right top, #170074, #300484, #460a93, #5b11a3, #7018b2, #7818bd, #7f18c9, #8718d4, #8111de, #7909e9, #6e03f4, #5f00ff);
}
.no2:hover {
  transform: translateY(-10px);
}
.no3
{
  margin-left: 20px;
  width: 50%;
  background-image: linear-gradient(to right top, #170074, #300484, #460a93, #5b11a3, #7018b2, #7818bd, #7f18c9, #8718d4, #8111de, #7909e9, #6e03f4, #5f00ff);
}
.no3:hover
{
  transform: translateY(-10px);
}

.faculty
{
  margin-bottom: 40px;
  
}
.faculty h2
{
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.faculty p
{
  color: white;
  font-size: 18px;
}
.sn
{
  color: #f9f8f8;
  font-size: 25px;
 
}
.faculty .col-auto img
{
  transition: none;
  transform: none;
  
}
.faculty .col-auto img:hover
{
  transform: none;
}
.mb-0
{
  margin-top: 0;
  
}
.acheivements img
{
  height: 500px;
  width: 100%;
}
footer {
  background-color: #000000; 
  color: white; 
  padding: 15px 0; 
  text-align: center; 
}

.footer-container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 20px; 
}

footer p {
  font-size: 16px;
  margin: 0; 
}
